version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
      - JWT_SECRET=swasth_saathi_secret_key
      - POSTGRES_URL=postgresql://postgres:postgres@postgres:5432/swasthsaathi
      - ML_SERVICE_URL=http://ml-service:8000
    depends_on:
      - postgres
      - ml-service
    volumes:
      - ./backend:/app

  ml-service:
    build: ./ml-service
    ports:
      - "8000:8000"
    volumes:
      - ./ml-service:/app

  postgres:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: swasthsaathi
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
